.blocker {
  position: absolute;
  pointer-events: none;
  width: 400px;
  height: 45px;
  top: 0;
  background: var(--dropdown-list-background-color);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45px;
  width: fit-content;
  &::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dropdown-list-background-color);
  }
  border: 1px solid var(--dropdown-list-border-color);
  border-top: none;
  border-radius: 0 0 15px 15px;
  background-color: var(--dropdown-list-background-color);
  padding: 10px 30px 30px;
  width: 300px;
  box-shadow: var(--dropdown-list-box-shadow);
}

.header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  h1 {
    font-size: var(--font-2);
    color: var(--white);
  }
}

.resetButton {
  @include mixins.actionButton;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: var(--font--2);
  color: var(--white);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &,
    span {
      color: var(--white-65);
      font-size: var(--font-1);
    }
  }
}
