.wrapper {
  width: 350px;
  height: 100%;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  padding-left: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #3b3b3b;
  padding: 0;
  > button {
    font-size: 20px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  flex-shrink: 1;
  height: 100%;
  padding: 15px 0;
  position: relative;
}
