.wrapper {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  padding: 0 20px;
  height: 40px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--border);
  z-index: var(--toolbar-z-index);
  button {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.colorButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.colorInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.sizeButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--border);
}

.slider {
  z-index: var(--toolbar-z-index);
  input {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
  }
}
