.wrapper {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(calc(-50% + 350px / 2));
  padding: 0 20px;
  height: 40px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--border);
  button {
    overflow: hidden;
    position: relative;
  }
}

.colorButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.colorInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
