.wrapper {
  width: 100%;
  background-color: var(--item-background);
  border: 1px solid var(--item-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  cursor: pointer;
  h1 {
    font-size: 16px;
    color: var(--window-text);
  }
  p {
    font-size: 12px;
    color: var(--window-text-bold);
  }
}
.isOpenWrapper {
  border: 1px solid var(--item-border-open);
}
