.wrapper {
  position: absolute;
  // z-index: -999;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(
  //   180deg,
  //   rgba(63, 94, 251, 1) 0%,
  //   rgba(252, 70, 237, 1) 100%
  // );
  opacity: 0.75;
  z-index: -9999;
  border: 1px solid #f73939;

  transform: translate(-5000px, -5000px);
}

.line {
  height: 2px;
  background: #d8d8d8;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: background 0.3s ease-in-out;
  translate: 5000px 5000px;
  > svg {
    position: absolute;
    font-size: 25px;
    transform: translateX(10px);
    path {
      transition: fill 0.3s ease-in-out;
      fill: #d8d8d8;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
  }
}

.active {
  background: repeating-linear-gradient(
    to right,
    #d8d8d8,
    #d8d8d8 10px,
    transparent 10px,
    transparent 15px
  );
  animation: line 10s linear infinite;
}

@keyframes line {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}

.selected {
  background: var(--blue-highlight);
  > svg {
    path {
      fill: var(--blue-highlight);
    }
  }
}
