.wrapper {
  width: 100%;
  height: 30px;
  // border: 1px solid red;
  flex-shrink: 1;
  background-color: var(--charcoal);
  border-bottom: 1px solid var(--border);
  padding: 0 15px;
}

.item {
  position: relative;
  > button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: var(--window-text);
    font-size: 14px;
    cursor: pointer;
  }
}

.submenu {
  position: absolute;
  top: 30px;
  left: 0;
  width: fit-content;
  height: 100%;
  background-color: red;
  z-index: 99999;
  li {
    list-style: none;
    padding: 10px;
    background-color: var(--charcoal);
    color: var(--window-text);
    border: 1px solid var(--border);
    border-top: none;
    cursor: pointer;
    .customCreate {
      display: flex;
      gap: 5px;
      input {
        width: 50px;
        padding: 0px;
        background-color: var(--charcoal);
        color: var(--window-text);
        outline: none;
        border: none;
        border: 1px solid var(--border);
      }
    }
  }
}
