.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  // border: 1px solid yellow;
  // background-color: yellow;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;
}

$connector-size: 30px;
$connector-margin: 10px;
$connector-distance: calc($connector-size + $connector-margin);

@mixin base {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $connector-size;
  height: $connector-size;
  border-radius: 50%;
  cursor: pointer;
}

.connector {
  @include base;
  // border: 1px solid red;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.outlet {
  @include base;
  border: 1px solid var(--window-outline);
}

@mixin flap($pos) {
  &::after {
    content: '';
    position: absolute;
    width: $connector-size;
    height: $connector-size;
    #{$pos}: -$connector-margin;
  }
}

.left {
  left: -$connector-distance;
  transform: translateY(-50%);
  top: 50%;
  svg {
    transform: rotate(180deg);
  }
  @include flap(right);
}

.right {
  right: -$connector-distance;
  top: 50%;
  transform: translateY(-50%);
  @include flap(left);
}

.top {
  top: -$connector-distance;
  left: 50%;
  transform: translateX(-50%);
  svg {
    transform: rotate(-90deg);
  }
  @include flap(bottom);
}

.bottom {
  bottom: -$connector-distance;
  left: 50%;
  transform: translateX(-50%);
  svg {
    transform: rotate(90deg);
  }
  @include flap(top);
}
