$inner-border-radius: 19px;
$bg-color: hsla(
  var(--hue),
  calc(var(--saturation) + 20%),
  calc(var(--lightness) + 5%),
  1
);

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  box-shadow: var(--window-box-shadow);
  z-index: 10;
  border-radius: 20px;
  transform-origin: 0 0;
  [data-role='connectors'] {
    opacity: 0;
  }
  &:hover {
    [data-role='connectors'] {
      opacity: 1;
    }
  }
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: $bg-color;
}

.topWrapper {
  overflow: hidden;
  width: 100%;
  padding: 0 25px;

  @include mixins.stripeBackground(
    hsla(
      var(--hue),
      calc(var(--saturation) + 20%),
      calc(var(--lightness) + 8%),
      1
    ),
    transparent,
    8px
  );

  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, $bg-color 50px);
  }
}

.titleBar {
  height: var(--window-top-bar-height);
  width: 100%;
  padding-top: 22px;

  display: flex;
  align-items: flex-start;
  gap: 7px;
  position: relative;
  overflow: hidden;

  > button {
    position: relative;
    z-index: 1;
  }
}

@mixin windowButton {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.close {
  background-color: var(--window-close-button-color);
  @include windowButton;
}

.full {
  background-color: var(--window-full-button-color);
  @include windowButton;
}

.menuBar {
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  user-select: none;
  color: var(--window-text-title);
  p {
    font-size: 12px;
  }
}

.right {
  display: flex;
  align-items: center;
}

.connections {
  padding: 15px 0px 15px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  p {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    color: var(--window-text);
    strong {
      color: var(--window-text-bold);
    }
  }
  button {
    border: 1px solid var(--window-text-bold);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

.contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
}

.content {
  width: 100%;
  height: calc(100% - 99px);
  flex-shrink: 1;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-x: hidden;
  scrollbar-width: none;
  line-height: 1.75;
  position: relative;

  border: 1px solid
    hsla(
      var(--hue),
      calc(var(--saturation) + 20%),
      calc(var(--lightness) + 14%),
      1
    );
  border-top: 1px solid
    hsla(
      var(--hue),
      calc(var(--saturation) + 20%),
      calc(var(--lightness) + 20%),
      1
    );
  background-color: hsla(
    var(--hue),
    calc(var(--saturation) + 20%),
    calc(var(--lightness) + 8%),
    1
  );
  &::-webkit-scrollbar {
    display: none;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h1 {
    // padding-left: 20px;
    font-size: var(--window-text);
    color: var(--white);
  }
  p {
    cursor: text;
    // padding: 0 20px 0 20px;
    color: var(--window-text);
    border: 1px solid transparent;
    border-radius: 5px;
    &:focus {
      outline: none;
      border: 1px solid var(--color-accent);
    }
  }
}
