@use './Window.module.scss' as *;

.border {
  position: absolute;
  background-color: #6b6b6b;
  border-radius: $border-radius;
  z-index: -1;
  // overflow: hidden;
}

$handle-offset: -5px;

@mixin border-corner {
  width: calc($border-radius - $handle-offset);
  height: calc($border-radius - $handle-offset);
  // background-color: red;
}

.topLeft {
  @include border-corner;
  cursor: nwse-resize;
  position: absolute;
  top: $handle-offset;
  left: $handle-offset;
}

.topRight {
  @include border-corner;
  cursor: nesw-resize;
  position: absolute;
  top: $handle-offset;
  right: $handle-offset;
}

.bottomLeft {
  @include border-corner;
  cursor: nesw-resize;
  position: absolute;
  bottom: $handle-offset;
  left: $handle-offset;
}

.bottomRight {
  @include border-corner;
  cursor: nwse-resize;
  position: absolute;
  bottom: $handle-offset;
  right: $handle-offset;
}

@mixin border-side {
  // background-color: rgb(255, 234, 0);
}

.top {
  @include border-side;
  position: absolute;
  top: $handle-offset;
  left: $border-radius;
  right: $border-radius;
  height: $border-radius;
  cursor: ns-resize;
}

.bottom {
  @include border-side;
  position: absolute;
  bottom: $handle-offset;
  left: $border-radius;
  right: $border-radius;
  height: $border-radius;
  cursor: ns-resize;
}

.left {
  @include border-side;
  position: absolute;
  top: $border-radius;
  left: $handle-offset;
  bottom: $border-radius;
  width: $border-radius;
  cursor: ew-resize;
}

.right {
  @include border-side;
  position: absolute;
  top: $border-radius;
  right: $handle-offset;
  bottom: $border-radius;
  width: $border-radius;
  cursor: ew-resize;
}
