$border-radius: 20px;
$inner-border-radius: 19px;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.35);
  z-index: 10;
  border-radius: $border-radius;
  > [data-role='connectors'] {
    opacity: 0;
  }
  &:hover {
    > [data-role='connectors'] {
      opacity: 1;
    }
  }
}

.topBar {
  background-color: #2b2b2b;
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--window-outline);
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: $inner-border-radius $inner-border-radius 0 0;
}

@mixin windowButton {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.close {
  background-color: #f14971;
  @include windowButton;
}

.full {
  background-color: #3fcd6f;
  @include windowButton;
}

.titleBar {
  background-color: #2b2b2b;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--window-outline);
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  user-select: none;
  color: #ffffff;
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

.content {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  border-radius: 0 0 $inner-border-radius $inner-border-radius;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  line-height: 1.75;
  position: relative;
  background-color: #444444;
  &::-webkit-scrollbar {
    display: none;
  }
}
